.grid-container {
  margin: 50px;
}

.spacer {
  height: 5em;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}
